.loaderContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loaderImg {
  animation: rotateLoader 2000ms linear infinite;
}

.loaderProgress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: #fff;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .loaderImg {
    width: 396px;
    height: 396px;
  }

  .loaderProgress {
    font-size: 80px;
  }
}
