.mobileMenuContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mobileMenuBtn {
  width: 32px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: auto;
  margin-top: -10px;
}

.mobileMenuBtnIcon {
  width: 32px;
  height: 32px;
  transition: transform var(--hover-general);
}
.dark {
  stroke: var(--dark-color);
}

.light {
  stroke: var(--white-color);
}

.mobileMenuBtn:hover .mobileMenuBtnIcon {
  transform: scale(1.1);
}

.logoutBtn {
  display: block;
  width: 100%;
  padding: 12px 60px;
  background-color: var(--hover-color);
  border: none;
  border-radius: 30px;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  transition: var(--hover-general);
}

.logoutBtn:hover {
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .mobileMenuBtnIcon {
    width: 36px;
    height: 36px;
  }
  /* .logoutBtn {
    display: none;
  } */
}
