.mobileMenuContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mobileMenuBtn {
  width: 32px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: auto;
  margin-top: -10px;
}

.mobileMenuBtnIcon {
  width: 32px;
  height: 32px;
  transition: transform var(--hover-general);
}
.dark {
  stroke: var(--dark-color);
}

.light {
  stroke: var(--white-color);
}

.mobileMenuBtn:hover .mobileMenuBtnIcon {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .mobileMenuBtnIcon {
    width: 36px;
    height: 36px;
  }
}
