.heroContainer {
  padding: 18px 20px 50px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--accent-color);
}

.heroContainerTitle {
  font-weight: 700;
  font-size: 50px;
  line-height: 0.96;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 24px;
}

.heroContainerSpan {
  color: var(--title-accent);
}

.heroContainerText {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .heroContainer {
    margin-top: -4px;
    padding: 1px 32px 44px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
  .heroContainerTitle {
    font-size: 80px;
    margin-top: 60px;
    margin-bottom: 32px;
  }
  .heroContainerText {
    font-size: 18px;
    line-height: 1.22;
    max-width: 255px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .heroContainer {
    display: flex;
    align-items: flex-end;
    padding: 1px 64px 32px;
  }
  .heroContainerTitle {
    max-width: 760px;
    font-size: 90px;
    line-height: 0.97;
    margin-bottom: 0;
  }
}
