.heroContainer {
  padding: 18px 20px 50px;
  border-radius: 30px;
  background-color: var(--accent-color);
}

.heroContainerTitle {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 0.96;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 24px;
}

.heroContainerSpan {
  color: rgba(255, 255, 255, 0.4);
}

.heroContainerText {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .heroContainer {
    padding: 16px 32px 44px;
    border-radius: 60px;
  }
  .heroContainerTitle {
    font-size: 80px;
    margin-bottom: 32px;
  }
  .heroContainerText {
    font-size: 18px;
    line-height: 1.22;
    max-width: 255px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .heroContainer {
    display: flex;
    align-items: flex-end;
    padding: 16px 64px 32px;
  }
  .heroContainerTitle {
    max-width: 760px;
    font-size: 90px;
    line-height: 0.97;
    margin-bottom: 0;
  }
  .heroContainerText {
    font-size: 18px;
    line-height: 1.22;
    max-width: 255px;
  }
}
