.categoryLinksContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 40px;
}
.link {
  display: inline-flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--white-color);
  outline: none;
  border: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: var(--dark-color);
  transition: var(--hover-general);
}
.activeLink {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.link:hover {
  background-color: var(--hover-color);
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .link {
    width: 142px;
    height: 48px;
    padding: 14px;
    font-size: 16px;
    line-height: 1.25;
  }
}
