.viewedText {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--dark-color);
  text-align: center;
  margin: 80px 0;
}
.viewedText b {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .viewedText {
    max-width: 458px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    margin: 150px auto;
  }
}

@media screen and (min-width: 1280px) {
  .viewedText {
    margin: 180px 100px;
  }
}
