.registrationFormContainer {
  margin-top: 10px;
  padding: 20px;
  background-color: var(--white-color);
  border-radius: 30px;
}

.registrationFormTitle {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: var(--dark-color);
  margin-bottom: 12px;
}

.registrationFormText {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--dark-color);
  margin-bottom: 20px;
}

.inputRegistrationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 24px;
}

.inputRegistrationLabel {
  position: relative;
  width: 100%;
}

.inputRegistration {
  width: 100%;
  border: 1px solid var(--link-gray);
  border-radius: 30px;
  padding: 12px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--text-input);
}

.inputRegistration::placeholder {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--placeholder-color);
}

.inputError {
  border-color: var(--error-color) !important;
}

.inputSuccess {
  border-color: var(--success-color) !important;
}

.iconCheck {
  position: absolute;
  top: 12px;
  right: 12px;
}

.errorRegistration {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--error-color);
  /* text-align: start; */
  margin-top: 2px;
}

.registerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 12px 99px;
  width: 100%;
  background-color: var(--accent-color);
  border: none;
  outline: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 12px;
  transition: var(--hover-general);
}

.registerBtn:hover {
  background-color: var(--hover-color);
  color: var(--accent-color);
}

.registrationLink {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--placeholder-color);
  text-align: center;
}

.registrationLinkLogin {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}
